.nav-content,
.main-content,
.footer-content{
    font-family: 'Montserrat', sans-serif;
}
.nav-content{
    background-color: lightgreen;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
.nav-content div{
    display: inline-block;
}
.menu ul li{
    height: 40px;
    float: left;
    color: white;
    list-style-type: none;
}
#menu-mobile {
    float: left;
    display: none;
    font-size: 30px;
    color: white;
    vertical-align: middle;
    padding-left: 20px;
}
.dropback ul{
    display: none;
    position: absolute;
    background-color: lightgrey;
}
.menu-list li {
    float: none;
    font-size: 15px;
    list-style-type: none;
    margin:0;
    padding-left: 5px;
}
.menu-list li:active{
    background-color: black;
}
.link a {
    text-decoration: none;
    color: white;
}
.main-content {
    margin-bottom: 20px;
}
.title{
    text-align: center;
    padding-top: 10%;
}
.corso{
    margin-top: 50px;
    float: left;
    color: black;
    text-align: center;
    height: 100px;
}
.corso img {
    max-width: 100%;
}
.prima {
    margin bottom: 50px;
}
.footer-content {
    color: grey;
    border-top: 2px solid grey;
    padding: 10px 0;
    text-align: center;
}

@media all and (max-width:992px) {
    .corso{
        margin-bottom: 100px;
    }
}
@media all and (max-width:768px) {
    .menu ul{
        display: none;
    }
    #menu-mobile {
        display: block;
    }
    #menu-mobile:active .dropback ul{
        display: block;
    }
    #menu-mobile:hover .dropback ul {
        display: block;
    }
    .corso {
        margin-bottom: 150px;
    }

}
