
.nav-content{
    background-color: lightgreen;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
.nav-content div{
    display: inline-block;
}
.menu ul li{
    height: 40px;
    float: left;
    color: white;
    list-style-type: none;
}
.fas {
    float: right;
    display: none;
}

.main-content {
    height: 500px;
}
.corso{
    margin-top: 50px;
    float: left;
    color: black;
    text-align: center;
    height: 100px;
}
.corso img {
    max-width: 100%;
}
.prima {
    margin bottom: 50px;
}

@media all and (max-width:992px) {
    .menu ul{
        display: none;
    }
    .corso{
        margin-bottom: 100px;
    }
}
@media all and (max-width:768px) {
    .menu {
        display: none;
    }
    .corso {
        margin-bottom: 200px;
    }
}
